/*Responsive Okey*/


.auth-box {
  display: flex;
    align-items: center;
    justify-content: space-between;
    background: #101828;
    padding: 14px 16px 14px 16px;
    gap: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px rgba(16, 19, 102, 0.1);
    width: 1286px;
    height: 60px;
    margin-top: 119px;
    margin-left: 24px;
    direction: rtl;
  }
  
  .auth-content {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    gap: 8px;
  }
  
  .auth-text {
    display: flex;
    width: 456px;
    height: 24px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: peyda;
    line-height: 19.6px;
    text-align: right;
    white-space: nowrap;
    flex-direction: row-reverse; 


  }
  
  .auth-button {
    display: flex;
    width: 103px;
    height: 32px;
    size: 32;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    font-family: peyda;
    background: #0257EA;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .auth-button:hover {
    background: #1e40af;
  }
  

/*moshkel dare*/

  @media (max-width: 768px) {
    .auth-box {
      width: 380PX;
      display: flex;
      flex-direction: column;
      align-items: flex-start; /*rast b chap*/
      align-items: right;
      height: auto;
      padding: 12px 16px ;
      margin-top: 30px; /*nesbat b navbar*/
      gap: 23px;
    }
  
    .auth-text {
      display: block; /* rafe khataye jam shodane matn samte chap*/
      width: auto;  
    }
  
    .auth-button {
      width: 90px; /*taghir dadam*/
      max-width: 150px;
      text-align: center;
    }
  }
  