/*Responsive Okey*/


.cryptoContainer {
  display: flex;
  flex-direction: row; /* too ye radif */
  justify-content: flex-end; /* az chap b rast */
  gap: 24px;
  width: 840px;
  height: 137px;
  margin-top: 50px; /*taghir dadam*/
  margin-left: 470px; 
  flex-wrap: nowrap; 
  background-color: transparent; /*hazfe range paszamine*/
  border: none;
  outline: none;
}


.cryptoItem {
  direction: rtl;
  position: relative;
  width: 192px;
  height: 137px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
  text-align: center;
box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}



.cryptoIconWrapper {
  position: absolute;
  top: -15px;  /*dayere var shodane balaye moraba*/
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}


.cryptoIcon {
  border-radius: 30px;
  width: 59.65px;
  height: 59.23px;
}


.cryptoInfo {
  margin-top: 20px;
  width: 192px;
  height: 107px;
  border: 1px;
  border-color: #E9E9E9 ;
  background-color: #101828 ;
  border-radius: 8px;
}

.cryptoInfo h3 {
  direction: rtl;
  width: 162px;
  height: 20px;
  margin-top: 30px;
  gap: 23px;
  margin-left: 20px;
  font-family: peyda;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #E7E9E8;
}

/*  mobile */
@media (max-width: 760px) {
  .cryptoContainer {
    display: flex;
    flex-wrap: wrap; /* bere radife baad*/
    align-items: center; /*nagereft!!*/
    width: 380px;
    height: 137px;
    margin-top: 20px;
    gap: 15px;
  }

  .cryptoItem {
    width: 182px; 
    height: 106.38pxpx; 
    margin-top: 30px;
    gap:16px;
  }

  .cryptoIconWrapper {
    width: 56.54px;
    height: 59.23px;
    top: -10px; /* dayere var shodane balaye moraba */
  }

  .cryptoIcon {
    width: 56.54px;
    height: 59.23px;
  }
}




